In [1]:
import pandas as pd
import numpy as np

In [2]:
AC = pd.read_json('ActualCoordination.json')

In [3]:
AC.shape

(725, 725)

In [4]:
AC.describe()

,0,1,2,3,4,5,6,7,8,9,...,715,716,717,718,719,720,721,722,723,724
count,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,...,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.0
mean,0.451034,0.347586,0.402759,0.576552,0.638621,0.680000,0.362759,0.645517,0.446897,0.308966,...,0.009655,0.005517,0.009655,0.001379,0.004138,0.002759,0.006897,0.002759,0.002759,0.0
std,0.497940,0.476533,0.490792,0.494446,0.480732,0.466798,0.481128,0.478687,0.497515,0.462386,...,0.097853,0.074124,0.097853,0.037139,0.064238,0.052486,0.082816,0.052486,0.052486,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [5]:
TNM_CR = pd.read_json('CoordinationNeeds') # calculated using TNM tool.

In [6]:
TNM_CR_NORM = TNM_CR / TNM_CR.max(axis=0)
pd.DataFrame(TNM_CR_NORM).describe()

,0,1,2,3,4,5,6,7,8,9,...,88,89,90,91,92,93,94,95,96,97
count,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,...,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
mean,0.012626,0.014639,0.015855,0.014592,0.015856,0.015289,0.015289,0.017493,0.013994,0.021622,...,0.011923,0.013735,0.015171,0.014414,0.011923,0.011923,0.012600,0.011923,0.012097,0.010904
std,0.101390,0.102253,0.103181,0.102339,0.104740,0.103620,0.103620,0.106727,0.101514,0.121101,...,0.101161,0.101595,0.102051,0.102605,0.101161,0.101161,0.101462,0.101161,0.101028,0.101012
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000215,0.000393,0.000340,0.000368,0.000495,0.000000,0.000000,0.000569,0.000000,0.000000,...,0.000000,0.000126,0.000000,0.000274,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000527,0.001162,0.001701,0.000701,0.000945,0.000554,0.000554,0.001707,0.000544,0.001724,...,0.000306,0.000764,0.000000,0.000821,0.000306,0.000306,0.000000,0.000306,0.000000,0.000000
75%,0.001148,0.002639,0.003401,0.002289,0.002024,0.002769,0.002769,0.003984,0.002107,0.003448,...,0.001032,0.001822,0.002663,0.002276,0.001032,0.001032,0.001008,0.001032,0.001161,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
TA = pd.read_json('TaskAssignment.json')
TD = pd.read_json('TaskDependency.json')

In [6]:
TA.shape

(725, 3789)

In [7]:
TD.shape

(3789, 3789)

In [8]:
#CR = np.dot(np.dot(TA, TD),  TA.T)
CR = TA @ TD @ TA.T

In [9]:
CR.shape

(725, 725)

In [10]:
CR_normalised = CR / CR.max(axis=0)
pd.DataFrame(CR_normalised).describe()

,0,1,2,3,4,5,6,7,8,9,...,715,716,717,718,719,720,721,722,723,724
count,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,...,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000
mean,0.012758,0.012716,0.013014,0.012781,0.012557,0.013256,0.012799,0.012892,0.012885,0.012495,...,0.016959,0.016778,0.018177,0.011379,0.016488,0.016715,0.020890,0.018381,0.015970,0.001379
std,0.049838,0.049106,0.050892,0.050123,0.049227,0.050688,0.048871,0.049656,0.049736,0.048871,...,0.064783,0.056229,0.067207,0.066675,0.057689,0.066318,0.070419,0.068145,0.063892,0.037139
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000618,0.000658,0.000657,0.000597,0.000606,0.000691,0.000647,0.000733,0.000653,0.000651,...,0.000000,0.000000,0.001426,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.001752,0.001787,0.001790,0.001720,0.001773,0.001832,0.001866,0.001750,0.001790,0.001725,...,0.002309,0.000000,0.002851,0.000000,0.000000,0.003030,0.000000,0.000000,0.000000,0.000000
75%,0.007240,0.007419,0.007406,0.007266,0.007171,0.007544,0.007674,0.007498,0.007330,0.007156,...,0.009238,0.013035,0.009979,0.000000,0.011628,0.009091,0.014493,0.010870,0.015625,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
diff =  (CR_normalised - AC)

In [12]:
pd.DataFrame(diff).describe()

,0,1,2,3,4,5,6,7,8,9,...,715,716,717,718,719,720,721,722,723,724
count,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,...,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000
mean,-0.438277,-0.334870,-0.389745,-0.563771,-0.626064,-0.666744,-0.349959,-0.632626,-0.434012,-0.296471,...,0.007304,0.011261,0.008522,0.010000,0.012350,0.013956,0.013993,0.015622,0.013211,0.001379
std,0.488318,0.464277,0.479458,0.487229,0.474928,0.461675,0.469164,0.473322,0.487283,0.449291,...,0.076783,0.051955,0.090303,0.055623,0.054752,0.066515,0.081246,0.055824,0.055918,0.037139
min,-0.999562,-0.999680,-0.999459,-0.999605,-0.999768,-0.999705,-0.999375,-0.999914,-0.999815,-0.999349,...,-0.981524,-0.744879,-0.972915,0.000000,-0.755814,-0.978788,-0.949275,-0.413043,-0.625000,0.000000
25%,-0.990905,-0.973021,-0.983990,-0.996428,-0.997087,-0.997801,-0.975906,-0.997399,-0.989886,-0.956722,...,0.000000,0.000000,0.001426,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000309,0.000607,0.000502,-0.962695,-0.983348,-0.987140,0.000615,-0.982242,0.000405,0.000594,...,0.002309,0.000000,0.002851,0.000000,0.000000,0.003030,0.000000,0.000000,0.000000,0.000000
75%,0.001108,0.001248,0.001211,0.000579,0.000588,0.000499,0.001251,0.000503,0.001087,0.001414,...,0.009238,0.013035,0.009266,0.000000,0.011628,0.009091,0.014493,0.010870,0.015625,0.000000
max,0.022492,0.029795,0.032406,0.038999,0.145857,0.181632,0.046746,0.329501,0.059299,0.030719,...,0.376443,0.325885,1.000000,0.500000,0.418605,0.830303,0.905797,0.750000,0.734375,1.000000

### Calculation of CR using TA* TD *TA.T

In [13]:
CR_count=0
for i in range(0, len(CR_normalised)):
    for j in range(len(CR_normalised[0])):
        if CR_normalised[i][j] > 0:
            CR_count+=1
print(CR_count)

495591

In [14]:
diff_count=0
for i in range(0, len(diff)):
    for j in range(len(diff[0])):
        if diff[i][j] > 0:
            diff_count+=1
print(diff_count)

399653

In [15]:
congruence = diff_count / CR_count
print(congruence)   ## CR is calculated using TA * TD * TA.T

0.8064169849734963

### Calculation of CR through tnm tool

In [18]:
tnm_cr_count=0
for i in range(0, len(TNM_CR_NORM)):
    for j in range(len(TNM_CR_NORM[0])):
        if TNM_CR_NORM[i][j] > 0:
            tnm_cr_count+=1
print(tnm_cr_count)

7380

In [19]:
diff = TNM_CR_NORM - AC

In [20]:
diff_count=0
for i in range(0, len(diff)):
    for j in range(len(diff[0])):
        if diff[i][j] > 0:
            diff_count+=1
print(diff_count)

5614

In [21]:
congruence = diff_count / tnm_cr_count  
print(congruence) ## CR is calculated using TNM tool.

0.7607046070460705